.Rhistory
.Rproj.user
*.Rproj

# Suppress raw data files
data_raw/

# Suppress clean data inputs (.txts)
data_clean/*.txt

# Suppress data figures
data_figs/

# Suppress model output
model_output/

# Suppress model tests
model_test/